.styled-text-area {
    -fx-cursor: text;
}

.styled-text-area .paragraph-box {
    -fx-padding: -0.5 0 -0.5 0;
}

.styled-text-area .paragraph-box .paragraph-text {
    -fx-line-spacing: 1;
}

.styled-text-area .caret {
    -rtfx-blink-rate: 500ms;
    -fx-stroke-width: 1.0;
}
