.styled-text-field
{
    -fx-cursor: text;
    -fx-text-fill: -fx-text-inner-color;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-padding: 4 7 4 7;
}
.styled-text-field:focused
{
    -fx-background-color: -fx-focus-color, -fx-control-inner-background, -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
}
.styled-text-field:disabled
{
    -fx-opacity: 0.4;
}
.main-selection
{
    -fx-fill: #0096C9;
}

// Text alignment classes for StyleClassedTextField

.center
{
    -fx-text-alignment: center;
}
.left
{
    -fx-text-alignment: left;
}
.right
{
    -fx-text-alignment: right;
}
