.idea/
*.iml
*.iws
.gradle
/gradle.properties
.project
.classpath
.settings/

# this is the (attempted) target for antlr generated source
# but its not working, so im committing it to the repo
#richtextfx-demos/src/gen/