# Adapted from TestFX
version: "{branch} {build}"

environment:
  JAVA_HOME: C:\Program Files\Java\jdk9
  matrix:
    - JAVA_OPTS: ""
    - JAVA_OPTS: "-Djava.awt.headless=true -Dtestfx.robot=glass -Dtestfx.headless=true -Dprism.order=sw -Dprism.text=t2k -Dtestfx.setup.timeout=2500"

shallow_clone: true

build:
  verbosity: detailed

build_script:
  - cmd: java -version
  - cmd: gradlew.bat --version --no-daemon

test_script:
  - gradlew.bat check --info --stacktrace --no-daemon

cache:
- C:\Users\appveyor\.gradle
