version = 1.0.0-SNAPSHOT

sonatypeUsername = <username>
sonatypePassword = <password>

signing.keyId = <key id>
signing.password = <key passphrase>
signing.secretKeyRingFile = /home/<user>/.gnupg/secring.gpg
