.keyword {
    -fx-fill: #8a6;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: darkblue;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: darkviolet;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
}

.code-area {
    -fx-background-color: #eee;
}