.var {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.variable-use {
    -fx-fill: purple;
    -fx-style: italic;
}
.variable-decl {
    -fx-underline: true
}
.comment {
    -fx-fill: green;
}
.bracket {
    -fx-style: bold;
    -fx-fill: blue;
}