.var {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
/* available with simple lexer rule*/
.variable {
    -fx-fill: purple;
    -fx-style: italic;
}

/* these two require more complex parser highlighter */
.variable-use {
    -fx-fill: purple;
    -fx-style: italic;
}
.variable-decl {
    -fx-underline: true
}
.comment {
    -fx-fill: green;
}
.bracket {
    -fx-font-weight: bold;
    -fx-fill: blue;
    -fx-underline: true;
}
.error {
    -fx-fill: red;
    -fx-underline: true;
}